*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Optima nova LT Pro', sans-serif;
}
.bod{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('assets/destination/background-destination-desktop.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.logo{
    margin-top: -500px;
    padding: 30px;
}
.head{
    position: sticky;
    margin-top: -500px;
    margin-left: 500px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    display: flex;
    flex-wrap: nowrap;
    width: 800px;
    padding: 10px 20px 10px 30px;

}
.head a{
    /* background-color: grey; */
    font-size: 14px;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1; 
    display: inline-block;
    text-align: center;
    text-wrap: nowrap;
    padding: 30px auto;
    padding-left: 40px;
    padding-right: 20px;
}
.animation{
    position: absolute;
    height: 5px;
    bottom: 0;
    z-index: 0;
    background: white;
    border-radius: 2px;
    /* width: 100px; */
    transition: all .5s ease 0s;
}
a:nth-child(1){
    width: 100px;
    left: 50px;
}
.start-home,a:nth-child(1):hover~.animation{
    width: 90px;
    left: 110px;
}
a:nth-child(2){
    width:110px;
    left: 50px;
}
.start-destination,a:nth-child(2):hover~.animation{
    width: 110px;
    left: 220px;
}
a:nth-child(3){
    width: 110px;
    left: 70px;
}
.start-crew,a:nth-child(3):hover~.animation{
    width: 80px;
    left: 340px;
}
a:nth-child(4){
    width: 120px;
    left: 50px;
}
.start-technology,a:nth-child(4):hover~.animation{
    width: 120px;
    left: 440px;
}
/* body */
#text{
    color: white;     
    margin-left: -1200px;
    margin-top: 200px;
    text-transform: uppercase;
}
#grey{
    color: rgb(51, 51, 51);
}
.image{
    margin-top: 70px;
    width: 350px;
    margin-left: -1200px;
}