*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Optima nova LT Pro', sans-serif;
                                                
}
.bod{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('assets/home/background-home-desktop.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
/* navigation bar */
.logo{
    margin-top: -544px;
    margin-left: 55px;
    padding: 30px;
}
.rec{
    position: absolute;
    width: 473px;
    margin-top: -558px;
    z-index: 1;
    margin-left: -450px;
}
.head{
    position: sticky;
    margin-top: -550px;
    margin-left: 500px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    display: flex;
    flex-wrap: nowrap;
    width: 800px;
    padding: 10px 20px 10px 30px;
    font-size: 16px;
}
.head a{
    /* background-color: grey; */
   
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1; 
    display: inline-block;
    text-align: center;
    text-wrap: nowrap;
    padding: 30px auto;
    padding-left: 40px;
    padding-right: 20px;
    letter-spacing: 2.7px;
}
.animation{
    position: absolute;
    height: 5px;
    bottom: 0;
    z-index: 0;
    background: white;
    border-radius: 2px;
    /* width: 100px; */
    transition: all .5s ease 0s;
}
a:nth-child(1){
    width: 100px;
    left: 50px;
}
.start-home,a:nth-child(1):hover~.animation{
    width: 100px;
    left: 90px;
}
a:nth-child(2){
    width:110px;
    left: 50px;
}
.start-destination,a:nth-child(2):hover~.animation{
    width: 140px;
    left: 205px;
}
a:nth-child(3){
    width: 110px;
    left: 100px;
}
.start-crew,a:nth-child(3):hover~.animation{
    width: 80px;
    left: 370px;
}
a:nth-child(4){
    width: 120px;
    left: 105px;
}
.start-technology,a:nth-child(4):hover~.animation{
    width: 150px;
    left: 490px;
}

/* Rest of body */
.sect1,.sect2{
    position: absolute;
    top: 100px;
}
.sect1{
    width: 350px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 200px 0 0 150px;
}
#font1{
    font-size: 30px;
    text-transform: uppercase;
}
#font{
    font-size: 100px;
    text-transform: uppercase;
}
.sect1 p{
    font-size: 15px;
}
.sect2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 350px 0 0 950px;
    background-color: white;
    border-radius: 100%;
    /* padding: 50px 40px; */
    text-transform: uppercase;
    font-size: 20px;
    border: none;
}
