*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;                     
}
.bod{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('assets/technology/background-technology-desktop.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.logo{
    margin-top: -544px;
    margin-left: 55px;
    padding: 30px;
}
.rec{
    position: absolute;
    width: 473px;
    margin-top: -558px;
    z-index: 1;
    margin-left: -450px;
}
.head{
    position: sticky;
    margin-top: -550px;
    margin-left: 500px;
    backdrop-filter: blur(150px);
    -webkit-backdrop-filter: blur(150px);
    display: flex;
    flex-wrap: nowrap;
    width: 5000px;
    padding: 10px 10px 10px 30px;
    font-size: 16px;
}
.head a{
    /* background-color: grey; */
    /* font-size: 14px; */
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1; 
    display: inline-block;
    text-align: center;
    text-wrap: nowrap;
    padding: 30px auto;
    padding-left: 40px;
    padding-right: 20px;
    letter-spacing: 2.7px;
}
.animation{
    position: absolute;
    height: 3px;
    bottom: 0;
    z-index: 0;
    background: white;
    border-radius: 2px;
    /* width: 100px; */
    transition: all .5s ease 0s;
}
a:nth-child(1){
    width: 100px;
    left: 50px;
}
.start-home,a:nth-child(1):hover~.animation{
    width: 100px;
    left: 90px;
}
a:nth-child(2){
    width:110px;
    left: 50px;
}
.start-destination,a:nth-child(2):hover~.animation{
    width: 130px;
    left: 205px;
}
a:nth-child(3){
    width: 110px;
    left: 100px;
}
.start-crew,a:nth-child(3):hover~.animation{
    width: 80px;
    left: 370px;
}
a:nth-child(4){
    width: 120px;
    left: 105px;
}
.start-technology,a:nth-child(4):hover~.animation{
    width: 120px;
    left: 490px;
}
/* rest of body */

#text1{
    color: white;     
    margin-left: -1150px;
    margin-top: 96px;
    /* margin: 76pxpx 0px 0px -1111.5px; */
    text-transform: uppercase;
    text-wrap: nowrap;
    font-size: 21px;
    letter-spacing: 4.52px;
}
#grey{
    color: rgb(51, 51, 51);
    margin-right: 10px;
}
.heading1{
    margin-top: -420px;
   
}
.nombers{
    /* display: flex; */
    position: absolute;
    top: 300px;
    left: 150px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.nombers a{
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 100%;
    padding: 32px 21px;
    width: 80px;
    height: 80px;
    text-align: center;
}
.nombers a:hover{
    color: #000000;
    background-color: #fff;
}
.vehicle{
    width: 415px;
    height: 427px;
    margin: 200px 0 0px -300px;
}
.left_side{
    position: absolute;
    margin: -360px 0 0 -900px ;
    color: #fff;
}
.term{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2.7px;
    margin-bottom: 11px;
}
.launch{
    font-size: 56px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.inform{
    font-size: 18px;
    line-height: 32px;
}