@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Marcellus&display=swap');
.bellefair-regular {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
}